@charset "utf-8";

/* Custom Roboto Font */
@font-face {
    font-family  : 'Roboto-com';
    src: url('webfonts/Roboto-Regular-webfont.eot');
    src: url('webfonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/Roboto-Regular-webfont.woff2') format('woff2'),
         url('webfonts/Roboto-Regular-webfont.woff') format('woff'),
         url('webfonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('webfonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight  : normal;
    font-style   : normal;
	font-display : swap;
}

/* Color Controls */
:root {
    --main-color          : #821bdc;
	--maindark-color      : #18181b;
	--secondarydark-color : #B6B6B6;
	--selection-color     : #821bcd;
}

html {
	font-family      : 'Roboto-com' !important;
	font-size        : 16px;
	text-justify     : justify;
	background-color : #fff;
}

.alert {
	text-decoration       : underline;
	text-decoration-color : red !important;
	font-size             : 20px;
}

.ligthtwitter {
	display : contents;
}
.darktwitter {
	display : none;
}

.desktoponly {
	visibility : hidden;
}

.gsc-input {
	height      : 15px !important;
	font-family : 'Roboto-com' !important;
	padding-top : 0px !important;
}

.gsc-control-cse {
	font-family : 'Roboto-com' !important;
}

div#___gcse_0 {
	height : 10px !important;
}

.spacer {
	padding-bottom : 0px;
}

::-moz-selection { /* Code for Firefox */
  color      : white;
  background : var(--selection-color);
}

::selection {
  color      : white;
  background : var(--selection-color);
}

ul {
  list-style-type  : none;
  margin           : 0;
  padding          : 0;
  overflow         : hidden;
  background-color : #fff;
  border           : solid;
  border-width     : 15px;
  border-color     : var(--main-color);
}

ul#normal {
  display         : block;
  list-style-type : disc;
  margin-top      : 1 em;
  margin-bottom   : 1 em;
  margin-left     : 0;
  margin-right    : 0;
  padding-left    : 20px;
}

li {
  float : left;
}

li a {
  display         : block;
  color           : black;
  text-align      : center;
  padding         : 14px 16px;
  text-decoration : none;
}

li a#embed {
  display         : inline;
  text-align      : justify;
  padding         : 0px 0px;
}

li a:hover#embed {
  background-color : white;
}

li a:hover {
  background-color : #a4a6ac;
}

h1 {
	text-decoration       : underline;
	text-decoration-color : var(--main-color) !important;
	font-weight           : bold;
	font-size             : 32px;
	line-height           : 34px;
}

h1#error {
	text-decoration : none;
	font-size       : 12px;
}

h2 {
	font-weight : bold;
	font-size   : 24px;
	line-height : 26px;
}

h2#underlined {
	font-weight           : bold;
	font-size             : 20px;
	text-decoration       : underline;
	text-decoration-color : var(--main-color);
	padding-left          : 5px;
}

p#big {
	font-weight : bold;
}

.underlined {
	text-decoration       : underline;
	text-decoration-color : var(--main-color);
	font-size             : 17px;
}

a#big {
	font-weight : bold;
	font-size   : 20px;
}

div#center {
	padding-top : 25px;
	text-align  : center;
}

.link {
	text-align      : center;
	justify-content : center;
}

.grid {
    display               : grid;
    grid-auto-flow        : column;
    grid-template-columns : 15% 35% 35% 15%;
    grid-template-rows    : 100px 10px auto 100px 100px;
    grid-template-areas   : "A A A A"
							"B B B B"
							". C C ."
						    ". . . ."
						    "D D D D";
}

a{
	text-color : black;
}

a#embed {
	text-decoration       : underline;
	text-decoration-color : var(--main-color) !important;
}

.A {
	grid-area    : A;
	border-width : 10px;
	border-color : black;
}

.B {
	grid-area : B;
}

.C {
	grid-area : C;
}

.D {
	grid-area        : D;
	border           : solid;
	border-color     : var(--main-color);
	border-width     : 10px;
	background-color : #fff;
}

@media only screen and (min-width: 1081px)
{
	.desktoponly {
		visibility : visible;
	}
	.C {
		background : rgba(255, 255, 255, 0.5);
	}
}

@media only screen and (min-width: 1081px) and  (prefers-color-scheme: ligth)
{
	.desktoponly {
		visibility : visible;
	}
	.C {
		background : rgba(255, 255, 255, 0.5);
	}
}

@media only screen and (min-width: 1081px) and  (prefers-color-scheme: dark)
{
	.desktoponly {
		visibility : visible;
	}
	.C {
		background : rgba(24, 24, 27, 0.7);
	}
}

@media only screen and (min-width: 1081px) and (prefers-reduced-motion: reduce)
{
	.desktoponly {
		visibility : hidden !important;
	}
	.C {
		background-color : white !important;
	}
}

@media only screen and (min-width: 1081px) and  (prefers-color-scheme: dark) and (prefers-reduced-motion: reduce)
{
	.desktoponly {
		visibility : hidden !important;
	}
	.C {
		background-color : #18181b !important;
	}
}

@media only screen and (min-width: 1081px) and  (prefers-color-scheme: ligth) and (prefers-reduced-motion: reduce)
{
	.desktoponly {
		visibility : hidden !important;
	}
	.C {
		background-color : white !important;
	}
}



@media only screen and (max-width: 1400px)
{
	.grid {
    display               : grid;
    grid-auto-flow        : column;
    grid-template-columns : 15% 35% 35% 15%;
    grid-template-rows    : 100px 15px auto 150px 100px;
    grid-template-areas   : "A A A A"
						    "B B B B"
						    ". C C ."
						    ". . . ."
						    "D D D D";
	}
}

@media only screen and (min-width: 928px) and (max-width : 1200px)
{
	.grid {
    display               : grid;
    grid-auto-flow        : column;
    grid-template-columns : 15% 35% 35% 15%;
    grid-template-rows    : 100px 20px auto 100px 100px;
    grid-template-areas   : "A A A A"
						    "B B B B"
						    ". C C ."
						    ". . . ."
						    "D D D D";
	}
	h1 {
		line-height     : 30px;
		text-decoration : underline;
		font-weight     : bold;
		font-size       : 30px;
	}
	
	p#faderigth {
		padding-left : 50px;
	}
}

@media only screen and (min-width: 818px) and (max-width : 927px)
{
	.grid {
    display               : grid;
    grid-auto-flow        : column;
    grid-template-columns : 15% 35% 35% 15%;
    grid-template-rows    : 100px 10px auto 50px 100px;
    grid-template-areas   : "A A A A"
						    "B B B B"
						    ". C C ."
						    ". . . ."
						    "D D D D";
	}
	h1 {
		line-height     : 30px;
		text-decoration : underline;
		font-weight     : bold;
		font-size       : 30px;
	}
	
	p#faderigth {
		padding-left : 5px;
	}
}

@media only screen and (min-width: 717px) and (max-width : 817px)
{
	.grid {
    display               : grid;
    grid-auto-flow        : column;
    grid-template-columns : 15% 35% 35% 15%;
    grid-template-rows    : 100px 40px auto 15px 100px;
    grid-template-areas   : "A A A A"
						    "B B B B"
						    ". C C ."
						    ". . . ."
						    "D D D D";
	}
	h1 {
		line-height     : 30px;
		text-decoration : underline;
		font-weight     : bold;
		font-size       : 30px;
	}
	
	p#faderigth {
		padding-left : 5px;
	}
}


@media only screen and (min-width: 660px) and (max-width : 716px)
{
	.grid {
    display               : grid;
    grid-auto-flow        : column;
    grid-template-columns : 15% 35% 35% 15%;
    grid-template-rows    : 100px 40px auto 5px 100px;
    grid-template-areas   : "A A A A"
						    "B B B B"
						    ". C C ."
						    ". . . ."
						    "D D D D";
	}
	h1 {
		line-height     : 30px;
		text-decoration : underline;
		font-weight     : bold;
		font-size       : 30px;
	}
	
	p#faderigth {
		padding-left : 5px;
	}
}


@media only screen and (min-width: 470px) and (max-width : 659px)
{
	.grid {
    display               : grid;
    grid-auto-flow        : column;
    grid-template-columns : 5% 45% 45% 5%;
    grid-template-rows    : 100px 40px auto 0px 100px;
    grid-template-areas   : "A A A A"
						    "B B B B"
						    ". C C ."
						    ". . . ."
						    "D D D D";
	}
	h1 {
		line-height     : 30px;
		text-decoration : underline;
		font-weight     : bold;
		font-size       : 30px;
	}
	.spacer {
		padding-bottom : 30px;
	}
	
	p#faderigth {
		padding-left : 5px;
	}
}


@media only screen and (max-width : 469px)
{
	.grid {
    display               : grid;
    grid-auto-flow        : column;
    grid-template-columns : 100%;
    grid-template-rows    : auto auto auto;
    grid-template-areas   : "A"
							"C"
							"D";
	}
	h1 {
	line-height     : 30px;
	font-weight     : normal;
	font-size       : 30px;
	}
	.spacer {
		padding-bottom : 30px;
	}
	
	p#faderigth {
		padding-left : 1px;
	}
}

@media (prefers-color-scheme: no-preference) {
	.ligthtwitter {
		display : contents !important;
	}
	.darktwitter {
		display : none !important;
	}
}

@media (prefers-color-scheme: ligth) {
	.ligthtwitter {
		display : contents !important;
	}
	.darktwitter {
		display : none !important;
	}
}

@media (prefers-color-scheme: dark) {
	html {
		background-color : var(--maindark-color); 
		
	}
	ul {
		background-color : var(--maindark-color);
	}
	h1 {
		color : var(--secondarydark-color);	}
	h2 {
		color : var(--secondarydark-color);	}
	h3 {
		color : var(--secondarydark-color);	}
	p {
		color : var(--secondarydark-color);	}
	.alert {
		color : white;
	}
	a {
		color : var(--main-color);
	}
	.D {
		background-color : var(--maindark-color);
	}
	li {
		color : white;
	}
	li a {
		color : white;
	}
	li a:hover {
		background-color : gray;
	}
	li a:hover#embed {
		background-color : var(--maindark-color);
	}
	.ligthtwitter {
		display : none !important;
	}
	.darktwitter {
		display : contents !important;
	}
	.gsc-control-cse {
		background-color : var(--maindark-color) !important;
		border-color     : var(--maindark-color) !important;
	}

	table.gsc-search-box {
		background-color : var(--maindark-color) !important;
	}

	.gsc-webResult.gsc-result {
		background-color : var(--maindark-color) !important;
	}

	.gsc-webResult.gsc-result {
		border : 1px solid #b21bdc !important;
	}

	.gsc-tabHeader.gsc-tabhActive {
		background-color : var(--maindark-color) !important;
	}

	.gsc-tabHeader.gsc-tabhInactive {
		background-color : var(--maindark-color) !important;
	}

	.gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl {
		color : white !important;
	}

	.gs-webResult.gs-result a.gs-title:link {
		color : white !important;
	}

	.gs-webResult .gs-snippet, .gs-imageResult .gs-snippet, .gs-fileFormatType {
		color : white !important;
	}

	.gsc-results-wrapper-overlay {
		background : var(--maindark-color) !important;
	}
}


@media print
{
	@page {
		margin-top    : 2cm;
		margin-bottom : 2cm;
		margin-left   : 2cm;
		margin-right  : 2cm;
	}
	p {
		page-break-inside: avoid;
	}
	.grid {
    display               : grid;
    grid-auto-flow        : column;
    grid-template-columns : 100%;
    grid-template-rows    : auto;
    grid-template-areas   : "C";
	}
	html {
		background-color : white;
		font-family      : "Arial";
		font-size        : 12px;
	}
	ul {
		border-width : 0px;
	}
	.A {
		display : none;
	}
	.D {
		display : none;
	}
	a[href*='//']:after {
        content:" (" attr(href) ") ";
        color: $primary;
    }
	h1 {
		text-decoration-color : black;
	}
	h2#underlined {
		text-decoration-color : black;
	}
	.gcse-search {
		visibility : hidden;
	}
	.hideprint {
		visibility : hidden;
	}
}
}