@charset "utf-8";

.thumbnails img {
	width  : 20%;
	border  : 4px solid #555;
	padding : 1px;
	margin  : 0 10px 10px 0;
}

.thumbnails2 img {
	width  : 30%;
	border  : 4px solid #555;
	padding : 1px;
	margin  : 0 10px 10px 0;
}

.thumbnails img:hover {
	border : 4px solid white;
	cursor : pointer;
}

.thumbnails2 img:hover {
	border : 4px solid white;
	cursor : pointer;
}