/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */
/* see *prefixed* comments */

@charset "utf-8";

/* IE Patch */
/* Source: https://stackoverflow.com/questions/28417056/how-to-target-only-ie-any-version-within-a-stylesheet */
/* IE 10+ */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	::-moz-selection {
		background : #821bdc;
	}

	::selection {
		background : #821bdc;
	}

	h1 {
		-webkit-text-decoration-color : #821bdc; /*prefixed */
		   -moz-text-decoration-color : #821bdc; /*prefixed */
		        text-decoration-color : #821bdc;
	}


	h2#underlined {
		-webkit-text-decoration-color : #821bdc; /*prefixed */
		   -moz-text-decoration-color : #821bdc; /*prefixed */
		        text-decoration-color : #821bdc;
	}
	
	button {
		background-color: #821bdc; /* Green */
	}

	@media (prefers-color-scheme: no-preference) {
		h2 a {
			color : #821bdc !important;
		}
	}

	@media (prefers-color-scheme: ligth) {		
		h2 a {
			color : #821bdc !important;
		}
	}
	
	@media (prefers-color-scheme: dark) {
		html {
			background-color : #18181b !important;
		}
		ul {
			background-color : #18181b !important;
		}
		h1 {
			color : #B6B6B6 !important;
		}
		h2 {
			color : #B6B6B6 !important;
		}
		h3 {
			color : #B6B6B6 !important;
		}
		.alert {
			color : white !important;
		}
		a {
			color : #821bdc !important;
		}
		.E {
			background-color : #18181b !important;
		}

		li a:hover#embed {
			background-color : #18181b !important;
		}

		.gsc-control-cse {
			background-color : #18181b !important;
			border-color     : #18181b !important;
		}

		table.gsc-search-box {
			background-color : #18181b !important;
		}

		.gsc-webResult.gsc-result {
			background-color : #18181b !important;
		}


		.gsc-tabHeader.gsc-tabhActive {
			background-color : #18181b !important;
		}

		.gsc-tabHeader.gsc-tabhInactive {
			background-color : #18181b !important;
		}
		.gsc-results-wrapper-overlay {
			background : #18181b !important;
		}
	}
	ul {
	  border-color : #821bdc !important;
	}

	h1 {
		-webkit-text-decoration-color : #821bdc !important; /*prefixed */
		   -moz-text-decoration-color : #821bdc !important; /*prefixed */
		        text-decoration-color : #821bdc !important;
	}

	h2#underlined {
		-webkit-text-decoration-color : #821bdc !important; /*prefixed */
		   -moz-text-decoration-color : #821bdc !important; /*prefixed */
		        text-decoration-color : #821bdc !important;
	}


	.underlined {
		-webkit-text-decoration-color : #821bdc !important; /*prefixed */
		   -moz-text-decoration-color : #821bdc !important; /*prefixed */
		        text-decoration-color : #821bdc !important;
	}

	a#embed {
		-webkit-text-decoration-color : #821bdc !important; /*prefixed */
		   -moz-text-decoration-color : #821bdc !important; /*prefixed */
		        text-decoration-color : #821bdc !important;
	}

	.E {
		border-color     : #821bdc !important;
	}
}

/* Microsoft Edge 12 */
@supports (-ms-accelerator:true) {
	::-moz-selection {
		background : #821bdc;
	}
	::selection {
		background : #821bdc;
	}
	
	@media (prefers-color-scheme: dark) {
		html {
			background-color : #18181b !important;
		}
		ul {
			background-color : #18181b !important;
		}
		h1 {
			color : #B6B6B6 !important;
		}
		h2 {
			color : #B6B6B6 !important;
		}
		h3 {
			color : #B6B6B6 !important;
		}
		.alert {
			color : white !important;
		}
		a {
			color : #821bdc !important;
		}
		.E {
			background-color : #18181b !important;
		}

		li a:hover#embed {
			background-color : #18181b !important;
		}

		.gsc-control-cse {
			background-color : #18181b !important;
			border-color     : #18181b !important;
		}

		table.gsc-search-box {
			background-color : #18181b !important;
		}

		.gsc-webResult.gsc-result {
			background-color : #18181b !important;
		}


		.gsc-tabHeader.gsc-tabhActive {
			background-color : #18181b !important;
		}

		.gsc-tabHeader.gsc-tabhInactive {
			background-color : #18181b !important;
		}
		.gsc-results-wrapper-overlay {
			background : #18181b !important;
		}
	}
	ul {
	  border-color : #821bdc !important;
	}

	h1 {
		-webkit-text-decoration-color : #821bdc !important; /*prefixed */
		   -moz-text-decoration-color : #821bdc !important; /*prefixed */
		        text-decoration-color : #821bdc !important;
	}

	h2#underlined {
		-webkit-text-decoration-color : #821bdc !important; /*prefixed */
		   -moz-text-decoration-color : #821bdc !important; /*prefixed */
		        text-decoration-color : #821bdc !important;
	}


	.underlined {
		-webkit-text-decoration-color : #821bdc !important; /*prefixed */
		   -moz-text-decoration-color : #821bdc !important; /*prefixed */
		        text-decoration-color : #821bdc !important;
	}

	a#embed {
		-webkit-text-decoration-color : #821bdc !important; /*prefixed */
		   -moz-text-decoration-color : #821bdc !important; /*prefixed */
		        text-decoration-color : #821bdc !important;
	}

	.E {
		border-color     : #821bdc !important;
	}
}