@charset "utf-8";
@import url('https://computexnow.com/font/Roboto-Regular.ttf')
@import url('https://computexnow.com/font/Roboto-Black.ttf')
@import url('https://computexnow.com/font/Roboto-BlackItalic.ttf')
@import url('https://computexnow.com/font/Roboto-Bold.ttf')
@import url('https://computexnow.com/font/Roboto-BoldItalic.ttf')
@import url('https://computexnow.com/font/Roboto-Italic.ttf')
@import url('https://computexnow.com/font/Roboto-Ligth.ttf')
@import url('https://computexnow.com/font/Roboto-LigthItalic.ttf')
@import url('https://computexnow.com/font/Roboto-Medium.ttf')
@import url('https://computexnow.com/font/Roboto-MediumItalic.ttf')
@import url('https://computexnow.com/font/Roboto-Thin.ttf')
@import url('https://computexnow.com/font/Roboto-ThinItalic.ttf')

.thumbnails img {
	width  : 20%;
	border  : 4px solid #821bdc;
	padding : 1px;
	margin  : 0 10px 10px 0;
}

div#gallery {
	text-align     : center;
}

.thumbnails img:hover {
	border : 4px solid white;
	cursor : pointer;
}

@media print
{
	.thumbnails img {
	border-color : black;
	}
}