@charset "utf-8";

@font-face {
    font-family: 'Roboto-com';
    src: url('../webfonts/Roboto-Regular-webfont.eot');
    src: url('../webfonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/Roboto-Regular-webfont.woff2') format('woff2'),
         url('../webfonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../webfonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../webfonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
	font-family      : "Roboto-com";
	font-size        : 16px;
	text-justify     : justify;
	line-height      : 20px;
	background-color : #fff;
}

ul#normal {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

.shopgrid {
    display               : grid;
    grid-auto-flow        : column;
	padding-bottom        : 20px;
    grid-template-columns : 17% 17% 17% 2.5% 44.5%;
    grid-template-rows    : auto auto;
    grid-template-areas   : "G G G . H"
						    "I J K . H";
}

.G {
	grid-area : G;
}

.I {
	grid-area : I;
}

.J {
	grid-area : J;
}

.K {
	grid-area : K;
}

.H {
	grid-area : H;
}

img#main {
	width : 50%;
}

img#small {
	width : 50%;
}

p#price {
	font-size : 30px;
	text-decoration : underline;
	text-decoration-color : #821bdc;
}

@media only screen and (min-width: 1500px) and (max-width : 1573px)
{
.shopgrid {
    display               : grid;
    grid-auto-flow        : column;
	padding-bottom        : 25px;
    grid-template-columns : 17% 17% 17% 7.5% 39.5%;
    grid-template-rows    : auto 20%;
    grid-template-areas   : "G G G . H"
						    "I J K . H";
}
}

@media only screen and (min-width: 1407px) and (max-width : 1499px)
{
.shopgrid {
    display               : grid;
    grid-auto-flow        : column;
	padding-bottom        : 25px;
    grid-template-columns : 16% 16% 16% 7.5% 48.5%;
    grid-template-rows    : auto 20%;
    grid-template-areas   : "G G G . H"
						    "I J K . H";
}
}

@media only screen and (min-width: 1294px) and (max-width : 1406px)
{
.shopgrid {
    display               : grid;
    grid-auto-flow        : column;
	padding-bottom        : 25px;
    grid-template-columns : 15% 15% 15% 2.5% 52.5%;
    grid-template-rows    : auto auto;
    grid-template-areas   : "G G G . H"
						    "I J K . H";
}
}


@media only screen and (min-width: 1000px) and (max-width : 1293px)
{
.shopgrid {
    display               : grid;
    grid-auto-flow        : column;
	padding-bottom        : 25px;
    grid-template-columns : 100%;
    grid-template-rows    : auto auto auto auto auto;
    grid-template-areas   : "H"
							"G"
							"I"
							"J"
							"K";
}
}

@media only screen and (min-width: 801px) and (max-width : 999px)
{
.shopgrid {
    display               : grid;
    grid-auto-flow        : column;
	padding-bottom        : 25px;
    grid-template-columns : 100%;
    grid-template-rows    : auto auto auto auto auto;
    grid-template-areas   : "H"
							"G"
							"I"
							"J"
							"K";
}
}

@media only screen and (min-width: 601px) and (max-width : 800px)
{
.shopgrid {
    display               : grid;
    grid-auto-flow        : column;
	padding-bottom        : 10px;
    grid-template-columns : 100%;
    grid-template-rows    : auto auto auto auto auto;
    grid-template-areas   : "H"
							"G"
							"I"
							"J"
							"K";
}
}


@media only screen and (max-width : 600px)
{
.shopgrid {
    display               : grid;
    grid-auto-flow        : column;
    grid-template-columns : 100%;
    grid-template-rows    : auto auto auto auto auto;
    grid-template-areas   : "H"
							"G"
							"I"
							"J"
							"K";
}
	.spacer {
		padding-bottom : 30px;
	}
}

@media print
{
	html {
		background-color : white;
	}
	ul {
		border-color     : black;
		background-color : white;
	}
	a[href*='//']:after {
        content:" (" attr(href) ") ";
        color: $primary;
    }
}