@charset "utf-8";

@font-face {
    font-family: 'Roboto-com';
    src: url('../webfonts/Roboto-Regular-webfont.eot');
    src: url('../webfonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/Roboto-Regular-webfont.woff2') format('woff2'),
         url('../webfonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../webfonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../webfonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
	font-family      : "Roboto-com";
	font-size        : 16px;
	text-justify     : justify;
	line-height      : 20px;
	background-color : #fff;
}

.shopgrid {
    display               : grid;
    grid-auto-flow        : column;
	padding-bottom        : 20px;
    grid-template-columns : 45% 5% 50%;
    grid-template-rows    : auto auto;
    grid-template-areas   : "G . H"
						    "G . H";
}

.G {
	grid-area   : G;
	padding-top : 5px;
}

.H {
	grid-area : H;
}

img#main {
	width : 50%;
}

img#small {
	width : 50%;
}

p#price {
	font-size             : 30px;
	text-decoration       : underline;
	text-decoration-color : #821bdc;
}

@media print
{
	.shopgrid {
		display               : grid;
		grid-auto-flow        : column;
		padding-bottom        : 20px;
		grid-template-columns : 100%
		grid-template-rows    : auto auto;
		grid-template-areas   : "H"
								"G";
	}
	
	ul {
		border-width : 0px;
	}
	p#price {
		text-decoration-color : black;
	}
}

@media only screen and (min-width: 1500px) and (max-width : 1573px)
{
.shopgrid {
    display               : grid;
    grid-auto-flow        : column;
	padding-bottom        : 25px;
    grid-template-columns : 45% 5% 50%;
    grid-template-rows    : auto auto;
    grid-template-areas   : "G . H"
						    "G . H";
}
}

@media only screen and (min-width: 1407px) and (max-width : 1499px)
{
.shopgrid {
    display               : grid;
    grid-auto-flow        : column;
	padding-bottom        : 25px;
    grid-template-columns : 45% 5% 50%;
    grid-template-rows    : auto auto;
    grid-template-areas   : "G . H"
						    "G . H";
}
}

@media only screen and (min-width: 1294px) and (max-width : 1406px)
{
.shopgrid {
    display               : grid;
    grid-auto-flow        : column;
	padding-bottom        : 25px;
    grid-template-columns : 45% 5% 50%;
    grid-template-rows    : auto auto;
    grid-template-areas   : "G . H"
						    "G . H";
}
}


@media only screen and (min-width: 1000px) and (max-width : 1293px)
{
.shopgrid {
    display               : grid;
    grid-auto-flow        : column;
	padding-bottom        : 25px;
    grid-template-columns : 45% 5% 50%;
    grid-template-rows    : auto auto;
    grid-template-areas   : "G . H"
						    "G . H";
}
}

@media only screen and (min-width: 801px) and (max-width : 999px)
{
.shopgrid {
    display               : grid;
    grid-auto-flow        : column;
	padding-bottom        : 25px;
    grid-template-columns : 45% 5% 50%;
    grid-template-rows    : auto auto;
    grid-template-areas   : "G . H"
						    "G . H";
}
.G {
	padding-top : 20px;
}
}

@media only screen and (min-width: 601px) and (max-width : 800px)
{
.shopgrid {
    display               : grid;
    grid-auto-flow        : column;
	padding-bottom        : 10px;
    grid-template-columns : 100%;
    grid-template-rows    : auto auto;
    grid-template-areas   : "H"
							"G";
}
}


@media only screen and (max-width : 600px)
{
.shopgrid {
    display               : grid;
    grid-auto-flow        : column;
    grid-template-columns : 100%;
    grid-template-rows    : auto auto;
    grid-template-areas   : "H"
							"G";
}
	.spacer {
		padding-bottom : 30px;
	}
}

@media print
{
	html {
		background-color : white;
	}
	ul {
		border-color     : black;
		background-color : white;
	}
	a[href*='//']:after {
        content:" (" attr(href) ") ";
        color: $primary;
    }
}

@media (prefers-color-scheme: dark) {
		html {
		background-color : #18181b; 
		
	}
	ul {
		background-color : #18181b;
	}
	li {
		color : white;
	}
	h1 {
		color : white;
	}
	h2 {
		color : white;
	}
	p {
		color : white;
	}
	.D {
		background-color : #18181b;
	}
	li a {
		color : white;
	}
	li a:hover {
		background-color : gray;
	}
}